$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  font-family: Roboto, Helvetica, sans-serif;
}

.type-ahead {
  position: relative;

  ul {
    position: absolute;
    top: 100%;
    list-style: none;
    padding: 0;
    background: #ffffff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);

    li {
      padding: 6px 12px;

      &:hover {
        background: rgba(0,0,0,0.25);
        color: white;
      }
    }
  }
}